body{
    background-color: rgb(140, 236, 140);
    font-family:sans-serif ;
}

h1{
    text-align: center; 
    justify-content: center;
    width: 1000px;
    height: 70px;
    color: rgb(2, 47, 8);
    display: inline-block;
    font-size:60px ;       
    margin-left:100px  ;

}



p{
    font-size: 25px;
}
header{
    display: flex;
    
    padding: 0 0 15px 0;
    margin-bottom: 20px;

    background-image: linear-gradient(rgb(140, 236, 140), green, rgb(140, 236, 140));

}
header img{
    width: 100px;
    height: 100px;
    display:inline-block;
    border-radius: 50%;
    opacity: 1;
    margin: 10px 30px 10px 10px;

}



a{
    text-decoration: none;
}
nav {
    justify-content: space-between;
    display:flex;
    padding: 20px 400px 20px 400px;
    margin:40px 0 40px 0;
    text-align: center;
}
nav a {
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    border-radius: 20%;
    box-shadow:3px 3px 3px 0 black ;
}
nav a:hover{
    box-shadow: 7px 7px 7px 0 black;
    background-color: rgb(14, 206, 196) ;
    color: slateblue ;
}
h2{
    text-align: center;
    color: rgb(2, 47, 8);
    font-size:30px ;
}
h3{
    text-align: center;
    color: rgb(2, 47, 8);
    font-size:30px ;
}
h4{
    text-align: center;
    color: rgb(2, 47, 8);
    font-size:30px ;
}

.text {
    margin:60px 10px 40px 10px;
}
footer {
    background-image: linear-gradient(rgb(140, 236, 140), green);
    display: flex;
    padding: 50px 0px 35px 45px;
}

footer a {
    margin-right: 50px;
    display: block;
}

footer p {
    font-size: 24px;
}